html{
  height:100%;
}
body{
  padding-top:42px;
  height:100%;
}
body, body * {
  box-sizing: border-box;
}
/*bootstrap changes*/
input[type="text"]{
  box-sizing: content-box;
}
.input-append{
  white-space: nowrap;
}
/**/
.navbar{
  border-bottom:2px solid #cc3b3b;
}
.navbar .brand {
  margin-left: 0;
}
.section{
  display: table;
  table-layout: fixed;
  min-height: 100%;
  min-width: 100%
}
.l1{
  display:table-cell;
  vertical-align:top;
}

nav{
  width:86px;
  background-color:#333;
}
nav:before, aside:before{
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  width:86px;
}
aside{
  width:300px;
  background-color:#ddd;
}
aside:before{
  width:300px;
}
article{
  background-color:#C6D0D5;
  background-image: url('../img/gray_jean.png');
  padding-bottom:10px;
/*  background-image:repeating-linear-gradient(145deg, transparent 0, transparent 40px, rgba(255,255,255,.15) 40px, rgba(255,255,255,0.15) 80px);*/
}
article .area{
margin: 10px;
padding: 10px;
}
article .area-well{
position: relative;
margin: 10px;
padding: 29px 10px 10px;
background-color: #fff;
border: 1px solid #bbb;
border-radius: 4px;
width:auto;
}
.row-well{
  width: auto;
  padding:0 10px;
}
.row-fluid .span-well{
position: relative;
padding: 29px 10px 10px;
background-color: #fff;
border: 1px solid #bbb;
border-radius: 4px;
}

.legend {
position: absolute;
top: -1px;
left: -1px;
padding: 3px 7px;
font-size: 12px;
font-weight: bold;
background-color: #f5f5f5;
border: 1px solid #bbb;
color: #9da0a4;
border-radius: 4px 0 4px 0;
}
.nowrap{
  white-space: nowrap;
}

.checkbox.inline {
  margin-left: 10px;
}
.tall-select[multiple]{
  height: 212px;
}
select{
  max-width:100%;
}
.controls input{
  width:90%;
}

.showon, .showon-owner{
  display: none
}
.owner .showon-owner, .debt .showon, .str_fin .showon{
  display: block;
}
label.showon, label.showon-owner{
  color: #ccc;
}
label.showon input, label.showon-owner input{
  display: none
}
.owner label.showon-owner, .debt label.showon, .str_fin label.showon{
  color: #222;
}

.owner label.showon-owner input, .debt label.showon input, .str_fin label.showon input{
  display: block;
}


.well {
padding: 10px;
margin-bottom: 0
}
